
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  font-family: "Poppins", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


label
{
  color:#484848 !important;
}